body{
    background-color: rgba(166, 208, 140, 0.5);
}

h1, span{
    color: rgb(30, 95, 37)
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    list-style-type: none;
}

span,
button {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.delete {
    margin: 0 auto;
    margin-top: 1.2rem;
    cursor: pointer;
}

img {
    width: 12rem;
    padding-top: 1rem;
    cursor: pointer;
}

section h2 {
    text-align: center;
}

span{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.owned{
    opacity: 1
}

.notOwned{
    opacity: 0.5
}